* {
  box-sizing: border-box;
}

.App {
  width: 315px;
  margin: 0 auto;
  background-color: #FFF;
  border: 1px solid #eee;
  min-height: 100vh;
}

.article-title {
  text-decoration: none;
  color: #000;
}

.brand {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
}

.nav {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  text-align: center;
  padding: 14px 0;
  width: calc(100% / 4);
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #eee;
}

.section {
  padding: 30px;
}

.section-title {
  margin-top: 0;
}

.section-description {
  line-height: 26px;
}

.article-image {
  max-width: 100%;
}